/*
Syntax error: Undefined variable: "$secondaryColor".
        on line 6 of ./main-theme/stylesheets/faq.scss

1: 
2: 
3: /*** colors ***\/
4: 
5: $color-1: #EBEBF2; // blue dark
6: $color-2: $secondaryColor; // green
7: $color-3: #f3f3f5; // grey light
8: $color-4: #6c7d8e; // blue light
9: $color-5: #ffffff; // white
10: 
11: /*** colors end ***\/

Backtrace:
./main-theme/stylesheets/faq.scss:6
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:438:in `visit_variable'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:248:in `block in watch'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:252:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/usr/local/rvm/gems/ruby-1.9.3-p547/gems/sass-3.3.7/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$secondaryColor\".\A         on line 6 of ./main-theme/stylesheets/faq.scss\A \A 1: \A 2: \A 3: /*** colors ***/\A 4: \A 5: $color-1: #EBEBF2; // blue dark\A 6: $color-2: $secondaryColor; // green\A 7: $color-3: #f3f3f5; // grey light\A 8: $color-4: #6c7d8e; // blue light\A 9: $color-5: #ffffff; // white\A 10: \A 11: /*** colors end ***/"; }
