/* --- COLORS --- */
/* Photostache Colors */
/* End */
/* --- FONTS --- */
/* --- COLORS END ---*/
/* --- Mixins ---*/
/*--- Base Styles ---*/

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  width: auto; }

section {
  margin: 25px 0 25px 0;
  width: 100%; }

header {
  background-color: #ecf0f1; }

footer {
  color: white;
  background-color: #2c3e50; }
  footer h1 {
    font-family: "Lobster", cursive, Arial, Helvetica, sans-serif; }
  footer a {
    color: white; }
  footer span {
    font-size: 45px;
    display: inline-block;
    margin: 0 20px 0 20px; }
  footer .footer-social-media {
    margin: 0 0 20px 0;
    padding-top: 20px; }
    footer .footer-social-media .footer-btn {
      margin-top: 30px;
      margin-right: 15px; }

a:hover {
  color: #3c7cbf;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

@media screen and (max-width: 900px) {
  .main-contact-form {
    width: 100%; }

  .map {
    display: none; } }
@media screen and (max-width: 400px) {
  header {
    color: black; }

  .map {
    display: none; }

  .main-contact-form, .map-section {
    width: 100%; } }
/*** Centering ***/
/* --- Main Logo -- */
.logo-wrapper img {
  width: auto;
  height: 24.1875rem;
  margin: 0 auto;
  padding: 15px 0; }

/* --- Mavigation Bar --- */
.main-nav {
  background: white;
  z-index: 150;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  position: relative;
  text-align: center;
  margin-bottom: -80px; }
  .main-nav ul li {
    border-right: 1px solid #ddd; }
    .main-nav ul li:last-child {
      border-right: none; }
  .main-nav .main-nav-link {
    color: #555555;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #444135;
    display: inline-block;
    padding: 10px 20px 10px 0;
    margin: 20px 10px;
    border-right: 1px solid #555555; }
    .main-nav .main-nav-link:hover {
      color: #1bc7a5;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .main-nav .main-nav-link:last-child {
      border-right: none; }
  .main-nav .navbar-nav.nav-justified > li {
    float: none; }

.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0; }

@media screen and (max-width: 768px) {
  .navbar-toggle {
    margin-top: 20px; }

  .brand {
    font-size: 28px;
    font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
    display: block;
    padding: 20px; }

  .main-nav-link {
    padding: 30px !important;
    margin: 0 !important;
    display: block;
    width: 100%;
    border: 1px solid #1bc7a5 !important; } }
/* --- Navi Open / Close --- */
/* --- Flexslider --- */
.flexslider {
  margin-top: 10.25rem;
  margin-bottom: 0; }
  .flexslider ol li a {
    background-color: white; }

/* --- Backstretch ---*/
.backstretch-slider img {
  width: 100%;
  height: auto; }

.backstretch img {
  max-width: 100% !important;
  height: auto !important; }

/* --- Section Header --- */
.section-header {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
  letter-spacing: 3px;
  padding: 40px 0;
  padding: 30px;
  border: 2px dotted #1bc7a5; }

/* Speech Bubble */
.bubble {
  position: relative;
  width: 250px;
  height: 120px;
  padding: 0px;
  background: #3C7CBF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent #3C7CBF;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 45px; }

@media screen and (max-width: 1200px) {
  .bubble {
    padding-bottom: 125px !important; } }
@media screen and (max-width: 768px) {
  .bubble:after {
    display: none; } }
/* END */
.gallery {
  margin: 5px 0; }

/* --- WuFoo Form ---*/
.contact-form {
  background-color: white;
  padding: 50px;
  /* width: 550px; */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .contact-form input, .contact-form textarea {
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #1bc7a5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 transparent;
    -moz-box-shadow: inset 0 0 0 transparent;
    box-shadow: inset 0 0 0 transparent;
    outline: 0;
    background-color: transparent; }
  .contact-form textarea {
    height: 100px; }
  .contact-form h2 {
    font-family: "Lobster", cursive, Arial, Helvetica, sans-serif; }
  .contact-form .form-group {
    margin: 20px 0; }
  .contact-form .form-control {
    height: 40px; }
  .contact-form .submit-btn {
    width: 100%;
    background-color: #95a5a6;
    border: 1px solid #ecf0f1;
    margin-top: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .contact-form .submit-btn:hover {
      background-color: #1bc7a5;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

/* ---- Contact Page Contact-Form ----*/
.contactPage-contact-form i {
  font-size: 20px;
  background-color: white;
  padding: 17px;
  margin-right: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }
.contactPage-contact-form input {
  height: 54px;
  padding: 2px;
  padding-left: 15px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }
.contactPage-contact-form .row {
  border-collapse: separate; }
.contactPage-contact-form .contact-form-header {
  margin-bottom: 50px; }

.main-section {
  position: relative; }

/* ---INTRO SECTION ---*/
.intro-section {
  font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
  color: white;
  background-color: #1bc7a5;
  padding-bottom: 100px; }
  .intro-section h1 {
    font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
    font-size: 72px;
    color: white;
    margin-top: 125px;
    margin-bottom: -50px; }

@media screen and (max-width: 768px) {
  .intro-section h1 {
    font-size: 36px; } }
/*--- SECTION 1 ---*/
#section1 .section-header {
  margin-top: 35px; }
#section1 .intro-div img {
  background-color: #d6e9de;
  border-radius: 50%;
  padding: 1.2em;
  display: block;
  margin: 0 auto; }
#section1 .intro-div h2, #section1 .intro-div p {
  margin-top: 3.125rem; }
#section1 .intro-div h2 {
  font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
  text-align: center; }
#section1 .intro-div p {
  background-color: #ecf0f1;
  font-size: 18px;
  line-height: 1.6em;
  padding: 2.1875rem; }

/*--- SECTION 2 AKA ABOUT ---*/
#section2 .section2 .about-section {
  color: white;
  padding: 20px;
  padding-bottom: 36px;
  background-color: #1bc7a5; }
  #section2 .section2 .about-section h2 {
    font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
    margin: 10px 0; }
  #section2 .section2 .about-section li {
    margin: 5px 20px;
    list-style-type: disc;
    font-size: 17px; }

/*--- SECTION 3 AKA TESTIMONIALS ---*/
#section3 p {
  margin-top: 20px;
  width: 100%;
  color: white;
  padding: 50px;
  font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
  font-size: 24px; }

/*--- SECTION 4 AKA PHOTO GALLERY ---*/
/*--- SECTION 5 AKA CONTACT FORM ---*/
#section5 {
  background-color: #3c7cbf;
  display: block;
  min-height: 100%;
  margin-bottom: 0 !important; }
  #section5 h1 {
    font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    margin: 55px 0 !important; }
  #section5 h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    padding-bottom: 10px; }
  #section5 a {
    color: white; }
    #section5 a:hover {
      color: #1bc7a5;
      -webkit-transition: 2s;
      -moz-transition: 2s;
      -o-transition: 2s;
      transition: 2s; }
  #section5 .form {
    margin-bottom: 55px; }
  #section5 .contact-form-header {
    text-align: center; }
  #section5 .contact-info-section {
    color: white;
    width: 100%; }
  #section5 .contact-info-single i, #section5 .contact-info-single span {
    font-size: 1.5em; }

/* --- ABOUT PAGE ---*/
.about-team {
  margin: 0 0 50px 0;
  font-family: "Lobster", cursive, Arial, Helvetica, sans-serif; }
  .about-team img, .about-team h2 {
    margin: 30px auto; }
  .about-team h2 {
    text-align: center; }
  .about-team p {
    background-color: #1bc7a5;
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 26px;
    padding: 55px; }

.plan-info {
  display: block;
  height: auto; }
  .plan-info .plan {
    border: 1px solid #95a5a6;
    width: 320px;
    margin: 30px;
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .plan-info .plan .plan-title {
      font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
      letter-spacing: 2px;
      color: white;
      background-color: #3c7cbf;
      text-align: center;
      margin: 0;
      padding: 25px 65px; }
    .plan-info .plan ul {
      margin: 0; }
    .plan-info .plan .plan-price {
      font-size: 50px;
      font-weight: 700;
      line-spacing: 4px;
      color: white;
      background-color: #1bc7a5;
      text-align: center;
      padding: 20px 0 25px 0; }
      .plan-info .plan .plan-price span {
        position: relative;
        bottom: 18px;
        right: 3px;
        font-size: 20px; }
      .plan-info .plan .plan-price p {
        margin-bottom: 0; }
      .plan-info .plan .plan-price .primary-price {
        margin-left: auto;
        margin-right: auto; }
      .plan-info .plan .plan-price .secondary-price {
        font-size: 14px;
        font-style: italic; }
    .plan-info .plan .plan-features li {
      text-align: center;
      padding: 10px;
      border-top: 1px dashed #95a5a6;
      font-weight: 500; }
      .plan-info .plan .plan-features li:first-child {
        border-top: none; }
      .plan-info .plan .plan-features li:last-child {
        border-bottom: 1px dotted #95a5a6; }
    .plan-info .plan .plan-btn {
      font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
      font-size: 20px;
      text-align: center;
      border: none;
      color: white;
      background-color: #3c7cbf;
      height: 50px;
      padding-top: 10px;
      text-decoration: none; }
      .plan-info .plan .plan-btn:hover {
        background-color: #1bc7a5;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }

.plan-addons .addons {
  height: 100%;
  background-color: #1bc7a5;
  margin: 0 auto;
  color: white;
  padding: 8px; }
  .plan-addons .addons ul {
    padding: 30px; }
    .plan-addons .addons ul li {
      font-size: 18px;
      list-style-type: disc; }

@media screen and (max-width: 400px) {
  .plan-addons .addons {
    height: 100%;
    padding-top: 20px; }
    .plan-addons .addons h2 {
      margin-top: 10px; } }
.gallery-main .gallery-sub-section a {
  display: block;
  margin: 20px 0; }

/*** colors ***/
/*** colors end ***/
/*** sizes ***/
/*** sizes end ***/
/* mixins end */
.cd-faq {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }
  .cd-faq::after {
    clear: both;
    content: "";
    display: table; }
  @media only screen and (min-width: 768px) {
    .cd-faq {
      position: relative;
      margin: 4em auto;
      box-shadow: none; } }

.cd-faq-categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #ebebf2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f8;
  text-overflow: ellipsis; }
  .cd-faq-categories a::before, .cd-faq-categories a::after {
    /* plus icon on the right */
    position: absolute;
    top: 50%;
    right: 16px;
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: white; }
  .cd-faq-categories a::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
.cd-faq-categories li:last-child a {
  border-bottom: none; }
@media only screen and (min-width: 768px) {
  .cd-faq-categories {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08); }
    .cd-faq-categories a {
      font-size: 13px;
      font-size: 1.4625rem;
      font-weight: 600;
      padding-left: 24px;
      padding: 0 24px;
      -webkit-transition: background 0.2s padding 0.2s;
      -moz-transition: background 0.2s padding 0.2s;
      -o-transition: background 0.2s padding 0.2s;
      transition: background 0.2s padding 0.2s; }
      .cd-faq-categories a::before, .cd-faq-categories a::after {
        display: none; }
      .no-touch .cd-faq-categories a:hover {
        background: #f4f4f8; }
    .no-js .cd-faq-categories {
      width: 100%;
      margin-bottom: 2em; } }
@media only screen and (min-width: 1024px) {
  .cd-faq-categories {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 2; }
    .cd-faq-categories a::before {
      /* decorative rectangle on the left visible for the selected item */
      display: block;
      top: 0;
      right: auto;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #3c7cbf;
      opacity: 0;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s; }
    .cd-faq-categories .selected {
      background: #dcdce8 !important; }
      .cd-faq-categories .selected::before {
        opacity: 1; }
    .cd-faq-categories.is-fixed {
      /* top and left value assigned in jQuery */
      position: fixed; }
    .no-js .cd-faq-categories {
      position: relative; } }

.cd-faq-items {
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s; }
  .cd-faq-items.slide-in {
    -webkit-transform: translateZ(0) translateX(0%);
    -moz-transform: translateZ(0) translateX(0%);
    -ms-transform: translateZ(0) translateX(0%);
    -o-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%); }
  .no-js .cd-faq-items {
    position: static;
    height: auto;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  @media only screen and (min-width: 768px) {
    .cd-faq-items {
      position: static;
      height: auto;
      width: 78%;
      float: right;
      overflow: visible;
      -webkit-transform: translateZ(0) translateX(0);
      -moz-transform: translateZ(0) translateX(0);
      -ms-transform: translateZ(0) translateX(0);
      -o-transform: translateZ(0) translateX(0);
      transform: translateZ(0) translateX(0);
      padding: 0;
      background: transparent; } }
  @media only screen and (min-width: 1024px) {
    .cd-faq-items {
      float: none;
      width: 100%;
      padding-left: 220px; }
      .no-js .cd-faq-items {
        padding-left: 0; } }

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  -o-transition: right 0.4s;
  transition: right 0.4s; }
  .cd-close-panel::before, .cd-close-panel::after {
    /* close icon in CSS */
    position: absolute;
    top: 16px;
    left: 12px;
    display: inline-block;
    height: 3px;
    width: 18px;
    background: #6c7d8e; }
  .cd-close-panel::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .cd-close-panel::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .cd-close-panel.move-left {
    right: 2%; }
  @media only screen and (min-width: 768px) {
    .cd-close-panel {
      display: none; } }

.cd-faq-group {
  /* hide group not selected */
  display: none; }
  .cd-faq-group.selected {
    display: block; }
  .cd-faq-group .cd-faq-title {
    background: transparent;
    box-shadow: none;
    margin: 1em 0; }
    .no-touch .cd-faq-group .cd-faq-title:hover {
      box-shadow: none; }
    .cd-faq-group .cd-faq-title h2 {
      text-transform: uppercase;
      font-size: 12px;
      font-size: 1.35rem;
      font-weight: 700;
      color: #bbbbc7; }
  .no-js .cd-faq-group {
    display: block; }
  @media only screen and (min-width: 768px) {
    .cd-faq-group {
      /* all groups visible */
      display: block; }
      .cd-faq-group > li {
        background: white;
        margin-bottom: 6px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
        -webkit-transition: box-shadow 0.2s;
        -moz-transition: box-shadow 0.2s;
        -o-transition: box-shadow 0.2s;
        transition: box-shadow 0.2s; }
        .no-touch .cd-faq-group > li:hover {
          box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3); }
      .cd-faq-group .cd-faq-title {
        margin: 2em 0 1em; }
      .cd-faq-group:first-child .cd-faq-title {
        margin-top: 0; } }

.cd-faq-trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2; }
  @media only screen and (min-width: 768px) {
    .cd-faq-trigger {
      font-size: 24px;
      font-size: 2.7rem;
      font-weight: 300;
      margin: 0;
      padding: 24px 72px 24px 24px; }
      .cd-faq-trigger::before, .cd-faq-trigger::after {
        /* arrow icon on the right */
        position: absolute;
        right: 24px;
        top: 50%;
        height: 2px;
        width: 13px;
        background: #88b0d9;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s; }
      .cd-faq-trigger::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 32px; }
      .cd-faq-trigger::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .content-visible .cd-faq-trigger::before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .content-visible .cd-faq-trigger::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); } }

.cd-faq-content p {
  font-size: 14px;
  font-size: 1.575rem;
  line-height: 1.4;
  color: #6c7d8e; }
@media only screen and (min-width: 768px) {
  .cd-faq-content {
    display: none;
    padding: 0 24px 30px; }
    .cd-faq-content p {
      line-height: 1.6; }
    .no-js .cd-faq-content {
      display: block; } }

#faq-main-section a {
  color: #3c7cbf;
  text-decoration: none; }

#contact-main-section {
  margin: 80px 0 0 0;
  background-color: #1bc7a5;
  display: block;
  margin-bottom: 0 !important; }
  #contact-main-section h1 {
    font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    margin: 55px 0 !important; }
  #contact-main-section h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    padding-bottom: 10px; }
  #contact-main-section i {
    background-color: white;
    color: #3c7cbf; }
  #contact-main-section textarea {
    font-size: 20px; }
  #contact-main-section .form {
    margin-bottom: 150px; }
  #contact-main-section .input-group-addon {
    background-color: white; }
  #contact-main-section .submit-btn {
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    background-color: #3c7cbf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    #contact-main-section .submit-btn:hover {
      background-color: #1bc7a5;
      border: 1px solid #1bc7a5;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

@media (max-width: 700px) {
  .email-main .email-form {
    width: 100%; }

  [class*="col-"] {
    margin-bottom: 15px; } }
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

/* --- COLORS --- */
/* --- END --- */
.email-main {
  background-color: #3498db;
  width: 100%;
  padding: 30px; }
  .email-main h1, .email-main h2 {
    font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
    color: white; }
  .email-main .email-form {
    margin: 50px auto 40px auto; }

@media (max-width: 700px) {
  .email-main .email-form {
    width: 100%; }

  [class*="col-"] {
    margin-bottom: 15px; } }
#saveForm {
  background-color: #f1a9a0;
  border: 1px solid #f1a9a0;
  font: "Lobster", cursive, Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  width: 100%; }
  #saveForm:hover {
    background-color: #e08283;
    border: 1px solid #e08283;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

footer {
  padding: 40px 0; }
  footer a:hover {
    color: #e08283;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
